<h1>Questions:</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'question' this.id}}Question: {{ question}} Author: {{ author}}{{/link-to}}</li>
  {{/each}}
</ul>
<br>
<p>
  {{#link-to 'new-question' class="btn btn-primary"}}Ask a Question{{/link-to}}
</p>
